
.nav {
    justify-content: center;
    background: rgb(196, 194, 194);
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
   margin-top: -1%;
}

.nav-item a {
    color: rgb(21, 146, 104);
    font-weight: 700;
}